/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                                                           *
 *  NOTE: use "mica for everyone" on windows with process rule of firefox,   *
 *        set titlebar color to "system" and backdrop type to "tabbed".      *
 *                                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (-moz-windows-accent-color-in-titlebar: 0) {
    #main-window[tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        ) {
        appearance: -moz-win-borderless-glass !important;
        background-color: transparent !important;
    }

    :root[tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        )
        #navigator-toolbox {
        background-color: transparent !important;
    }

    @media (min-resolution: 1dppx) {
        .titlebar-buttonbox-container {
            --titlebar-button-inline-padding: 16px;
            --titlebar-close-inline-padding: 17px;
        }
    }

    @media (min-resolution: 1.25dppx) {
        .titlebar-buttonbox-container {
            --titlebar-button-inline-padding: 17px;
            --titlebar-close-inline-padding: 18px;
        }
    }

    @media (min-resolution: 1.5dppx) {
        .titlebar-buttonbox-container {
            --titlebar-button-inline-padding: 17px;
            --titlebar-close-inline-padding: 17px;
        }
    }

    @media (min-resolution: 1.75dppx) {
        .titlebar-buttonbox-container {
            --titlebar-button-inline-padding: 17px;
            --titlebar-close-inline-padding: 17px;
        }
    }

    @media (min-resolution: 2dppx) {
        .titlebar-buttonbox-container {
            --titlebar-button-inline-padding: 16px;
            --titlebar-close-inline-padding: 17px;
        }
    }

    :root[tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        ):not([sizemode="fullscreen"])
        .titlebar-button:not(
            .titlebar-close:hover,
            .titlebar-close:hover:active
        )
        .toolbarbutton-icon {
        opacity: 0 !important;
    }

    :root[tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        ):not([sizemode="fullscreen"])
        .titlebar-button:not(.titlebar-close) {
        margin-inline-end: 1px !important;
    }

    :root[sizemode="normal"][tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        )
        .titlebar-button {
        padding-inline: var(--titlebar-button-inline-padding) !important;
    }

    :root[sizemode="normal"][tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        )
        .titlebar-close {
        padding-inline: var(--titlebar-close-inline-padding) !important;
    }

    :root[sizemode="maximized"][tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        )
        .titlebar-button {
        padding-inline: var(--titlebar-button-inline-padding) !important;
    }

    :root[sizemode="maximized"][tabsintitlebar]:is(
            :not(:-moz-lwtheme),
            [lwt-default-theme-in-dark-mode]
        )
        .titlebar-close {
        margin-inline-end: 2px !important;
        padding-inline: var(--titlebar-close-inline-padding) !important;
    }
}

:root {
    --tab-shadow-max-size: 0px !important;
    --tabs-navbar-shadow-size: 0px !important;
    --tab-corner-rounding: 7px;
    --button-corner-rounding: 20px;
    --menu-corner-rounding: 4.5px;
    --animation-speed: 0.4s;
    --urlbar-box-bgcolor: var(--button-bgcolor) !important;
    --button-hover-bgcolor: color-mix(
        in srgb,
        currentColor 17%,
        transparent
    ) !important;
    --button-active-bgcolor: color-mix(
        in srgb,
        currentColor 30%,
        transparent
    ) !important;
/*     --urlbar-icon-padding: 10px !important; */
    --autocomplete-popup-highlight-background: #ddd !important;
}

:root #navigator-toolbox {
    --uc-bm-padding: 0px !important;
    --uc-navbar-height: -43px !important;
    --tab-min-height: 36px !important;
    --tab-padding: 0 10px;
    --tab-max-width: 220px;
    --tab-min-width: 160px;
    --bookmarks-height: 36px;
    --bookmarks-margin: 1px 4px 5px 2px;
}

:root[uidensity="compact"] #navigator-toolbox {
    --uc-bm-padding: 0px !important;
    --uc-navbar-height: -36px !important;
    --tab-min-height: 30px !important;
    --tab-padding: 0 7px;
    --tab-max-width: 200px;
    --tab-min-width: 140px;
    --bookmarks-height: 32px;
    --bookmarks-margin: 1.4px 2px 4px 2px;
}

:root[uidensity="touch"] #navigator-toolbox {
    --uc-bm-padding: 6px;
    --uc-navbar-height: -50px !important;
    --tab-min-height: 46px !important;
    --tab-padding: 0 16px;
    --tab-max-width: 260px;
    --tab-min-width: 200px;
    --bookmarks-height: 42px;
    --bookmarks-margin: 2px 4px 8px 4px;
}

:root[sessionrestored] #nav-bar,
:root[sessionrestored] #PersonalToolbar {
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 160ms ease-out var(--uc-autohide-toolbar-delay) !important;
    z-index: 2;
}

:root[sessionrestored] #PersonalToolbar {
    z-index: 1;
}

:root:is(
        :not(:-moz-lwtheme),
        [lwt-default-theme-in-dark-mode],
        [style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"],
        [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]
    ) {
    --button-hover-bgcolor: color-mix(
        in srgb,
        currentColor 10%,
        transparent
    ) !important;
    --button-active-bgcolor: color-mix(
        in srgb,
        currentColor 20%,
        transparent
    ) !important;
}

#navigator-toolbox {
    --uc-bm-padding: 2px;
    --uc-bm-height: calc(var(--bookmarks-height) + 2 * var(--uc-bm-padding));
    --uc-autohide-toolbar-delay: 200ms;
}

#tabbrowser-tabs:not([noshadowfortests])
    .tab-background:is([selected="true"], [multiselected="true"]) {
    box-shadow: 0 1px 5px -1px #0005 !important;
    background-color: #f8f8f8b0 !important;
    border-top: 1px solid #fff !important;
}

.tab-background[multiselected="true"] {
    outline: 2px solid #08f !important;
}

.urlbarView-row > .urlbarView-row-inner {
    padding-inline: 8px !important;
}

#TabsToolbar {
    border-bottom: 1px solid #aaa8;
}

#urlbar-container,
#navigator-toolbox,
#main-window:not([inFullscreen="true"]) #browser-bottombox:not(:empty) {
    background-color: transparent !important;
}

#statuspanel > #statuspanel-label {
    background-color: #f0f0f0 !important;
    border: 1px solid #ccc !important;
    color: black !important;
    border-radius: 3px !important;
    padding: 2px 6px 3px 6px !important;
    margin: 5px !important;
}

#tabbrowser-tabs {
    border-inline-start: none !important;
}

.titlebar-buttonbox-container {
    display: block;
}

.titlebar-button:not(.titlebar-close),
.titlebar-close:not(:hover) {
    list-style-image: none !important;
}

.tabbrowser-tab > .tab-stack > .tab-background > .tab-context-line {
    background-color: var(--identity-icon-color) !important;
    height: 1px !important;
    border-radius: 1px !important;
    margin: 0px var(--tab-border-radius) 0px !important;
    box-shadow: 0px 3px 9px 0px var(--identity-icon-color) !important;
}

.tab-background {
    border-width: 1px !important;
    overflow: hidden !important;
    margin-top: 5px !important;
}

#urlbar {
    --urlbar-height: 28px !important;
}

#urlbar:not([focused="true"]) > #urlbar-input-container {
    box-shadow: 0 0 10px -3px #0002;
    background-color: #ffffff !important;
    border: 1px solid #e8e8e8 !important;
}

#urlbar:not([focused="true"]) > #urlbar-input-container:hover {
    outline: 2px solid #ccc !important;
}

#urlbar:is([open="true"]) > #urlbar-background {
    box-shadow: 0px 8px 10px -2px #0002 !important;
    background-color: #ffffff !important;
    border-radius: 4.5px !important;
    border: 1px solid #8883 !important;
}

.urlbarView-row:hover  {
    background-color: #f4f4f4 !important;
}

.urlbarView-row[selected] {
    background: #eee !important;
}

#urlbar-search-mode-indicator {
    background-color: #f0f0f0 !important;;
}

#nav-bar[customizing],
#PersonalToolbar[customizing] {
    transform: none !important;
}

#nav-bar,
#PersonalToolbar {
    background-color: #fafafa !important;
}

#navigator-toolbox > #PersonalToolbar {
    transform-origin: 0px var(--uc-navbar-height);
    position: relative;
}

:root[sessionrestored]:not([customizing]) #navigator-toolbox {
    margin-bottom: calc(0px - var(--uc-bm-height) + var(--uc-navbar-height));
}

#PlacesToolbarItems > .bookmark-item {
    min-height: calc(var(--uc-bm-height) - 4px);
    padding-block: 0px !important;
    background-color: rgba(170, 170, 170, 0.16);
    margin: var(--bookmarks-margin) !important;
}

#OtherBookmarks,
#PlacesChevron,
#PersonalToolbar > #import-button {
    padding-block: var(--uc-bm-padding) !important;
}

:root[sizemode="fullscreen"] #PersonalToolbar,
#PersonalToolbar[collapsed="true"] {
    min-height: initial !important;
    max-height: initial !important;
    visibility: hidden !important;
}

#PersonalToolbar[collapsed="true"] #PlacesToolbarItems > *,
:root[sizemode="fullscreen"] #PersonalToolbar #PlacesToolbarItems > * {
    visibility: hidden !important;
}

#navigator-toolbox {
    pointer-events: none;
    border-bottom: none !important;
}

#PersonalToolbar {
    border-bottom: 1px solid #7773 !important;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2) !important;
}

#navigator-toolbox > * {
    pointer-events: auto;
}

#navigator-toolbox:focus-within > .browser-toolbar {
    transition-delay: 0ms !important;
    transform: rotateX(0);
}

#navigator-toolbox:hover > .browser-toolbar {
    transition-delay: 0ms !important;
    transform: rotateX(0);
}

#navigator-toolbox > div {
    display: contents;
}

:where(#titlebar, #tab-notification-deck, .global-notificationbox) {
    -moz-box-ordinal-group: 0;
}

.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
    max-width: 130px !important;
    min-width: 100px !important;
}

.tabbrowser-tab[selected][fadein]:not([pinned]) {
    max-width: 220px !important;
    min-width: 160px !important;
}

.tab-throbber[busy][progress],
.tab-throbber[busy]:not([progress]) {
    display: block !important;
    padding: 0 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 16px !important;
    transform-origin: 50% 50% !important;
}

.tab-throbber[busy]:not([progress]) {
    background-image: url("wait.svg") !important;
}

.tab-throbber[busy][progress] {
    background-image: url("active.svg") !important;
}

.tab-loading-burst {
    margin-top: -5px !important;
}

.titlebar-spacer[type="post-tabs"] {
    display: none;
}

.bookmark-item {
    padding-inline: 10px !important;
}

.tab-close-button {
    padding: 4px !important;
    height: 18px !important;
    width: 18px !important;
    margin-inline-end: -2px !important;
    border-radius: 2px !important;
}

.tab-close-button:not([selected="true"]) {
    display: none;
}

#tabbrowser-tabs
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:not([selected="true"]):hover
    > .tab-stack
    > .tab-content
    > .tab-close-button:not([pinned="true"], [selected="true"]) {
    display: inline !important;
}

.tab-content {
    padding: var(--tab-padding) !important;
    margin-block: auto !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

#context-navigation,
#context-sep-navigation,
#context-bookmarklink,
#context-viewinfo,
#context-viewpartialsource-selection,
#inspect-separator,
#context-savelink,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_moveTabOptions,
#context_bookmarkTab,
.bookmarks-actions-menuseparator,
.openintabs-menuitem,
.tab-throbber::before,
.bookmark-item > image {
    display: none !important;
}

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
    -moz-appearance: none !important;
}

menupopup:not(#BMB_bookmarksPopup) {
    padding: 0 4px 9px 4px !important;
    margin: -5px -10px !important;
    border: 0 !important;
    background: 0 !important;
}

menu[open] menupopup:not(#BMB_bookmarksPopup) {
    margin: -9px -9px !important;
}

#BMB_bookmarksPopup menu[open] menupopup {
    transform: translateY(4px) !important;
}

menupopup menuseparator {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    border-bottom: none !important;
    opacity: 0.3 !important;
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    padding: 6px 0 !important;
}

.panel-arrowcontent {
    padding-top: 0px !important;
    border: none !important;
}

/* shadows and rounded corners for menus */
.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-width: 1px !important;
    border-radius: var(--menu-corner-rounding) !important;
    box-shadow: 0px 8px 10px -2px #0002 !important;
    border-color: #8883 !important;
    padding: 4px !important;
}

.panel-arrowcontainer .panel-arrowcontent,
.menupopup-arrowscrollbox,
hbox[flex="1"][part="innerbox"] {
    border-radius: var(--menu-corner-rounding) !important;
}

.in-bookmarks-menu {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

menu,
menuitem,
menucaption {
    -moz-appearance: none !important;
    height: var(--menu-item-height) !important;
}

menu,
menuitem,
menucaption {
    padding-inline: 8px !important;
    border-radius: 2px !important;
    background-color: transparent !important;
}

.subviewbutton,
.subviewbutton-iconic {
    border-radius: 2px !important;
    background-color: transparent !important;
}

menu:hover,
menuitem:hover,
.subviewbutton:hover,
.subviewbutton-iconic:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
}

.subviewbutton > * > *,
.subviewbutton-iconic > * > * {
    background-color: transparent !important;
}

menupopup > menuitem,
menupopup > menu {
    padding-block: 3px !important;
}

menu:not(.subviewbutton) > .menu-right {
    margin-top: 0px !important;
    margin-right: 0px !important;
    width: 10px !important;
}

menu:not(.subviewbutton) > .menu-right image {
    width: 12px !important;
    border: 0px solid var(--toolbar-color) !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}

#context-sendpagetodevice-popup {
    margin-top: 10px !important;
}

panelview toolbarbutton:not(#fxa-manage-account-button) {
    height: var(--menu-item-height) !important;
}

#BMB_bookmarksPopup .menu-right {
    height: 20px !important;
}

#sidebar-switcher-bookmarks,
#customization-uidensity-menuitem-compact {
    margin-top: 5px !important;
}

#customization-lwtheme-menu-header {
    margin-top: 0px !important;
}

panel#appMenu-popup,
panel#customizationui-widget-panel {
    padding: 0 4px 9px 4px !important;
    margin: 0 -10px !important;
}

slot:nth-child(1) {
    box-shadow: 0px 8px 10px -2px #0002 !important;
    border-radius: var(--menu-corner-rounding) !important;
    border: 1px solid #8883 !important;
}

#downloadsPanel,
#notification-popup,
#appMenu-notification-popup {
    padding: 14px !important;
    margin: -16px -20px !important;
}

#unified-extensions-panel {
    padding: 10px !important;
    margin: -10px -16px !important;
}

#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator:first-of-type,
.unified-extensions-item-menu-button {
    display: none !important;
}

#unified-extensions-view .panel-subview-body {
    margin-top: 2px !important;
}

#unified-extensions-view .unified-extensions-item {
    position: relative !important;
}

#unified-extensions-view
    .unified-extensions-item:hover
    > .unified-extensions-item-menu-button {
    display: inline !important;
    position: absolute !important;
    right: 2px;
    top: 5px;
}

tooltip {
    -moz-appearance: none !important;
    border-radius: 2.5px !important;
    padding: 3px 6px 4px 6px !important;
    background-color: #f8f8f8 !important;
    color: #000d !important;
    border-color: #ddd !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --autocomplete-popup-highlight-background: #444 !important;
        --arrowpanel-background: #303030 !important;
        --panel-background: #303030 !important;
    }

    menu:hover,
    menuitem:hover,
    .subviewbutton:hover,
    .subviewbutton-iconic:hover {
        background-color: rgba(255, 255, 255, 0.08) !important;
    }

    #urlbar:is([focused="true"]) > #urlbar-background {
        background-color: #303030 !important;
    }

    #urlbar > #urlbar-background {
        background-color: #333 !important;
    }

    #urlbar:not([focused="true"]) > #urlbar-input-container {
        box-shadow: 0 0 10px -3px #000;
        background-color: #333 !important;
        border: 1px solid #3c3c3c !important;
    }

    #urlbar:not([focused="true"]) > #urlbar-input-container:hover {
        outline: 2px solid #444 !important;
    }

    .urlbarView-row:hover {
        background-color: #444 !important;
    }
    
    .urlbarView-row[selected] {
        background: #464646 !important;
    }
    
    #urlbar-search-mode-indicator {
        background-color: #444 !important;;
    }

    #tabbrowser-tabs:not([noshadowfortests])
        .tab-background:is([selected="true"], [multiselected="true"]) {
        box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5) !important;
        background-image: none !important;
        background-color: #4449 !important;
        border-top: 1px solid #444b !important;
        border-bottom: 1px solid #0005 !important;
    }

    #PersonalToolbar {
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.4) !important;
        background-color: #202020 !important;
    }

    #nav-bar {
        background-color: #202020 !important;
    }

    #TabsToolbar {
        border-bottom: 1px solid #444c;
    }

    arrowscrollbox.menupopup-arrowscrollbox {
        background: #303030 !important;
    }

    tooltip {
        background-color: #222 !important;
        color: #bbb !important;
        border-color: #444 !important;
    }

    #statuspanel > #statuspanel-label {
        background-color: #303438 !important;
        border: 1px solid #444 !important;
        color: white !important;
    }

    #ContentSelectDropdownPopup * {
        color: #eff8ffe0 !important;
    }
    
    #PlacesToolbarItems > .bookmark-item {
        background-color: rgba(170, 170, 170, 0.1);
    }
}

.tabbrowser-tab:not([pinned]) {
    border-inline-start: 1px solid transparent !important;
    border-image: 0 1
        linear-gradient(
            transparent 25%,
            color-mix(in srgb, currentColor 20%, transparent) 25%,
            color-mix(in srgb, currentColor 20%, transparent) 75%,
            transparent 75%
        ) !important;
}

.tabbrowser-tab:hover,
#tabbrowser-tabs:not([movingtab])
    .tabbrowser-tab:hover
    + .tabbrowser-tab:not([first-visible-unpinned-tab]),
.tabbrowser-tab:first-child,
.tabbrowser-tab[selected],
.tabbrowser-tab[multiselected],
#tabbrowser-arrowscrollbox[overflowing]
    > .tabbrowser-tab[first-visible-unpinned-tab],
#tabbrowser-tabs:not([movingtab])
    .tabbrowser-tab[multiselected]
    + .tabbrowser-tab,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[selected] + .tabbrowser-tab {
    border-image: none !important;
}

/* #browser * {
    background-color: transparent !important;
} */