/*
    firefox css config, by-

       ▄████████ ███▄▄▄▄      ▄████████ ▄██   ▄
      ███    ███ ███▀▀▀██▄   ███    ███ ███   ██▄
      ███    ███ ███   ███   ███    ███ ███▄▄▄███
      ███    ███ ███   ███   ███    ███ ▀▀▀▀▀▀███
    ▀███████████ ███   ███ ▀███████████ ▄██   ███
      ███    ███ ███   ███   ███    ███ ███   ███
      ███    ███ ███   ███   ███    ███ ███   ███
      ███    █▀   ▀█   █▀    ███    █▀   ▀█████▀
*/

* {
    --lwt-tab-line-color: #222b2e !important;
    border-radius       : 0 !important;
}
:root {
    --inline-tab-padding            : 8px !important;
    --tab-min-height                : 24px !important;
    --tab-max-height                : 24px !important;
    --lwt-tab-line-color            : #222b2e !important;
    --tabs-navbar-shadow-size       : 0 !important;
    --tab-shadow-max-size           : 0 !important;
    --toolbar-start-end-padding     : 0 !important;
    --toolbarbutton-outer-padding   : 0 !important;
}
#tabbrowser-tabs {
    height              : 24px !important;
    margin-left         : 450px !important;
}
.tab-close-button {
    height              : 22px !important;
    padding             : 5px !important;
    width               : 22px !important;
}
#TabsToolbar-customization-target { height: 28px !important }
.tab-throbber-tabslist,
.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
    height              : 15px !important;
    width               : 15px !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background,
.tab-background {
    background-color    : #00000000 !important;
    margin              : 0 !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background { padding: 0 !important }
#urlbar-input { height  : 17px !important; }
#urlbar {
    min-height          : 24px !important;
    padding             : 0 4px !important;
    margin              : 0 !important;
}
.notification-anchor-icon,
.urlbar-page-action,
#urlbar-input-container,
#urlbar-container {
    padding             : 0 !important;
    margin              : 0 !important;
}
#nav-bar > .toolbarbutton-1 { padding: 0px !important }
.bookmark-item {
    padding             : 4px 10px !important;
    margin-top          : 1px !important;
    margin-bottom       : 2px !important;
    color               : rgba(255, 255, 255, 0.6) !important;
}

.bookmark-item > image.toolbarbutton-icon { display: none !important }
.titlebar-spacer[type="pre-tabs"] { width: 0 !important }
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected], [multiselected]) { background-color: color-mix(in srgb, currentColor 12%, transparent) }
.tabbrowser-tab>.tab-stack>.tab-background:not([selected], [multiselected]) { background-color: color-mix(in srgb, currentColor 6%, transparent) }
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
    max-width           : 100px !important;
    min-width           : 100px !important;
    color               : rgba(255, 255, 255, 0.7) !important;
    margin-left         : -4px !important;
}
.tabbrowser-tab[selected][fadein]:not([pinned]) {
    max-width           : 200px !important;
    min-width           : 160px !important;
    color               : rgba(255, 255, 255, 0.9) !important;
    margin-left         : -4px !important;
}
#TabsToolbar .close-icon { display: none !important }
#TabsToolbar .tabbrowser-tab[selected=true]:not([pinned]) .close-icon { display: -moz-box !important }
#TabsToolbar .tabbrowser-tab:not([selected="true"]):not([pinned]):hover .close-icon{ display: -moz-box !important }
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: initial !important }
#main-window { background: #222b2ea0 !important }
#navigator-toolbox { background-color: #222b2ea0 !important }
#TabsToolbar:-moz-lwtheme-darktext,.table-widget-empty-text:-moz-lwtheme-darktext { -moz-appearance: -moz-mac-vibrant-titlebar-light !important }
#TabsToolbar:-moz-lwtheme-brighttext,.table-widget-empty-text:-moz-lwtheme-brighttext { -moz-appearance: -moz-mac-vibrant-titlebar-dark !important }
.tabbrowser-tab[selected="true"] .tab-label:-moz-lwtheme-brighttext { color:white !important }
.tabbrowser-tab .tab-label:-moz-lwtheme-brighttext { color:rgba(255,255,255,0.7) !important }
.tabbrowser-tab[selected="true"] .tab-background:-moz-lwtheme-brighttext { box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important }
#identity-icon-label[value="Extension (Tabliss)"] { display: none !important }
#identity-box { margin: 0 !important }
#identity-icon-box { padding: 0 1px !important }
#PlacesToolbarItems,
#PersonalToolbar,
#personal-bookmarks {
    display             : flex !important;
    justify-items       : center !important;
    margin              : 0 auto !important;
    border              : none !important;
}
#fxa-avatar-image {	border-radius: 50% !important }
#back-button[disabled="true"] { display: none !important }
#forward-button[disabled="true"] { display: none !important }
#tracking-protection-icon-container { display: none !important }
#identity-box { display: none !important }
#TabsToolbar { margin-left : var(--navbarWidth) !important }
#nav-bar {
    margin-right        : calc(100vw - 450px) !important;
    background          : #1B2224 !important;
    box-shadow          : none !important;
    padding-inline-start: 2px !important;
}
#urlbar-container { min-width: 0px !important }
:root[uidensity="compact"] #nav-bar { margin-top: -28px !important }
:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar { margin-top: -44px !important }
:root[uidensity="touch"] #nav-bar { margin-top: -49px !important }
#navigator-toolbox { border: none !important }
.titlebar-spacer { display: none !important }
#urlbar-background { border: none !important }
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
    box-shadow          : none !important;
    background          : none !important;
}
.urlbar-icon, #userContext-indicator, #userContext-label {
    fill                : transparent !important;
    background          : transparent !important;
    color               : transparent !important;
}
#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon,
#urlbar[focused] .urlbar-icon {
    fill                : var(--toolbar-color) !important;
}
.subviewbutton,
#urlbar-background,
.urlbar-icon,
#userContext-indicator,
#userContext-label,
.urlbar-input-box,
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
.urlbar-icon-wrapper,
#tracking-protection-icon,
#identity-box image,
stack,
tab:not(:active) .tab-background,
tab:not([beforeselected-visible])::after,
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::before,
.tab-close-button {
    transition          : var(--animationSpeed) !important;
}
#PanelUI-menu-button,
#back-button,
toolbar .toolbarbutton-1 {
    margin              : none !important;
    padding             : none !important;
}
.tab-stack,
.tab-background,
.tab-content {
    box-shadow          : none !important;
}
#appMenu-popup,
#widget-overflow {
    opacity             : 0.9 !important;
}
#appMenu-popup { transform: scale(1.03, 1.015) !important; }
#widget-overflow { transform: scale(1.031) !important }
#star-button-box { width: 10px !important }
