/* hatred toward this peice of code will increase going deeper, i am sorry */

#main-window {
	background-color: transparent !important;
	-moz-appearance: -moz-win-glass !important;
}

#navigator-toolbox {
	background: transparent !important;
}

#main-window:not([inFullscreen='true']) #browser-bottombox:not(:empty) {
	background-color: transparent !important;
}

#status-bar {
	background-color: transparent !important;
}

#urlbar-container {
	background-color: transparent;
}

.titlebar-buttonbox-container {
	display: block;
}

.titlebar-button:not(.titlebar-close),
.titlebar-close:not(:hover) {
	list-style-image: none !important;
}


:root {
    --tab-corner-rounding: 7px;
    --button-corner-rounding: 20px;
    --menu-corner-rounding: 6px;
    --menu-item-height: 4px;
    --animation-speed: 0.4s;
	--urlbar-box-bgcolor: var(--button-bgcolor) !important;
	--button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent) !important;
	--button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent) !important;
	--highlight: #00aaff60 !important;
}

:root #navigator-toolbox {
	--uc-bm-padding: 0px !important;
	--uc-navbar-height: -43px !important;
	--tab-min-height: 36px !important;
	--tab-padding: 0 10px;
	--tab-max-width: 220px !important;
	--tab-min-width: 140px !important;
	--bookmarks-height: 36px;
	--bookmarks-margin: 1px 4px 5px 2px;
}

:root[uidensity='compact'] #navigator-toolbox {
	--uc-bm-padding: 0px !important;
	--uc-navbar-height: -35px !important;
	--tab-min-height: 27px !important;
	--tab-padding: 0 6px;
	--tab-max-width: 200px !important;
	--tab-min-width: 120px !important;
	--bookmarks-height: 32px;
	--bookmarks-margin: 1px 2px 4px 2px;
}

:root[uidensity='touch'] #navigator-toolbox {
	--uc-bm-padding: 6px;
	--uc-navbar-height: -50px !important;
	--tab-min-height: 46px !important;
	--tab-padding: 0 16px;
	--tab-max-width: 260px !important;
	--tab-min-width: 200px !important;
	--bookmarks-height: 42px;
	--bookmarks-margin: 2px 4px 8px 4px;
}

:root[sessionrestored] #nav-bar,
:root[sessionrestored] #PersonalToolbar {
	background-image: linear-gradient(
		var(--toolbar-bgcolor),
		var(--toolbar-bgcolor)),
		var(--lwt-additional-images,
		var(--toolbar-bgimage)
	) !important;
	background-position: top, var(--lwt-background-alignment);
	background-position-y: calc(0px - var(--tab-min-height) - 2 * var(--tab-block-margin, 0px));
	background-repeat: repeat, var(--lwt-background-tiling);
	transform: rotateX(90deg);
	transform-origin: top;
	transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
	z-index: 2;
}

:root[sessionrestored] #PersonalToolbar {
	z-index: 1;
	background-position-y: calc(
		0px - var(--tab-min-height) - 2 * var(--tab-block-margin, 0px) + var(--uc-navbar-height)
	);
}

:root[lwtheme-image] #nav-bar,
:root[lwtheme-image] #PersonalToolbar {
	background-image:
		linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
		var(--lwt-header-image),
		var(--lwt-additional-images, var(--toolbar-bgimage)) !important;
}

#nav-bar {
	color: var(--toolbar-color) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background > .tab-context-line {
	background-color: var(--identity-icon-color) !important;
	height: 1px !important;
	border-radius: 1px !important;
	margin: var(--tab-border-radius) var(--tab-border-radius) 0px !important;
	box-shadow: 0px 3px 9px 0px var(--identity-icon-color) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
	border-width: 1px !important;
}

#urlbar:not([focused='true']) > #urlbar-background {
	border: 1px solid rgba(160, 160, 160, 0.4) !important;
	background: #ffffff15 !important;
}

#urlbar[open] > #urlbar-background {
	border: 1px solid rgba(160, 160, 160, 0.4) !important;
	box-shadow: none !important;
}

#navigator-toolbox {
	--uc-bm-padding: 2px;
	--uc-bm-height: calc( var(--bookmarks-height) + 2 * var(--uc-bm-padding)); /* Might need to adjust if the toolbar has other buttons */
	--uc-autohide-toolbar-delay: 400ms;
}

.tab-background {
	margin-block: 5px !important;
/*	margin-inline-end: 1px !important;*/
	overflow: hidden !important;
}

#nav-bar[customizing],
#PersonalToolbar[customizing] {
	transform: none !important;
}

#navigator-toolbox > #PersonalToolbar {
	transform-origin: 0px var(--uc-navbar-height);
	position: relative;
}

:root[sessionrestored]:not([customizing]) #navigator-toolbox {
	margin-bottom: calc(0px - var(--uc-bm-height) + var(--uc-navbar-height));
}

#PlacesToolbarItems > .bookmark-item {
	min-height: calc(var(--uc-bm-height) - 4px); /* Bookmarks have 2px block margin */
	padding-block: 0px !important;
	background-color: rgba(170, 170, 180, 0.1);
	margin: var(--bookmarks-margin) !important;
}

#OtherBookmarks,
#PlacesChevron,
#PersonalToolbar > #import-button {
	padding-block: var(--uc-bm-padding) !important;
}

:root[sizemode='fullscreen'] #PersonalToolbar,
#PersonalToolbar[collapsed='true'] {
	min-height: initial !important;
	max-height: initial !important;
	visibility: hidden !important;
}

#PersonalToolbar[collapsed='true'] #PlacesToolbarItems > *,
:root[sizemode='fullscreen'] #PersonalToolbar #PlacesToolbarItems > * {
	visibility: hidden !important;
}

#navigator-toolbox {
	pointer-events: none;
	border-bottom: none !important;
}

#PersonalToolbar {
	border-bottom: 1px solid var(--chrome-content-separator-color);
}

#navigator-toolbox > * {
	pointer-events: auto;
}

#sidebar-box {
	position: relative;
}

#nav-bar:focus-within + #PersonalToolbar,
#navigator-toolbox > #nav-bar:focus-within {
	transition-delay: 100ms !important;
	transform: rotateX(0);
}

#navigator-toolbox:hover > .browser-toolbar {
	transition-delay: 100ms !important;
	transform: rotateX(0);
}

#navigator-toolbox > div {
	display: contents;
}

:where(#titlebar, #tab-notification-deck, .global-notificationbox) {
	-moz-box-ordinal-group: 0;
}

.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
	max-width: var(--tab-min-width) !important;
	min-width: 100px !important;
}

.tabbrowser-tab[selected][fadein]:not([pinned]) {
	max-width: var(--tab-max-width) !important;
	min-width: 160px !important;
}

.tab-throbber[busy][progress],
.tab-throbber[busy]:not([progress]) {
	display: block !important;
	padding: 0 !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 16px !important;
	transform-origin: 50% 50% !important;
}

.tab-throbber[busy]:not([progress]) {
	background-image: url('wait.svg') !important;
}

.tab-throbber[busy][progress] {
	background-image: url('active.svg') !important;
}

.tab-loading-burst {
	margin-top: -5px !important;
}

.titlebar-spacer[type='post-tabs'] {
	display: none;
}

.bookmark-item {
	padding-inline: 10px !important;
}

#tabbrowser-tabs[closebuttons='activetab']
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab:hover
> .tab-stack
> .tab-content
> .tab-close-button:not([selected='true']):not([pinned='true']) {
	display: inline !important;
}

.tab-content {
	padding:  var(--tab-padding) !important;
	margin-block: auto !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0 !important;
}

#context-navigation,
#context-sep-navigation,
#context-bookmarklink,
#context-viewinfo,
#context-viewpartialsource-selection,
#inspect-separator,
#context-savelink,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_moveTabOptions,
#context_bookmarkTab,
.bookmarks-actions-menuseparator,
.openintabs-menuitem,
.tab-throbber::before,
.bookmark-item > image {
	display: none !important;
}

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
	-moz-appearance: none !important;
}

menupopup:not(#BMB_bookmarksPopup) {
    padding: 9px !important;
	margin: -6px -9px 0 !important;
    border: 0 !important;
    background: 0 !important;
}

menu[open] menupopup:not(#BMB_bookmarksPopup) {
	margin: -18px -9px !important;
}

#BMB_bookmarksPopup menu[open] menupopup {
    transform: translateY(4px) !important;
}

menupopup menuseparator
{
	margin-top: 0px !important;
    margin-bottom: 0px !important;
	padding: 0px !important;
    border-bottom: none !important;
	opacity: 0.3 !important;
}
.menupopup-arrowscrollbox {
    background: Menu !important; /* fall back if adaptable colors are removed */
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
	padding: 6px 0 !important;
}

.panel-arrowcontent {
    padding-top: 0px !important;
    border: none !important;
}

/* shadows and rounded corners for menus */
.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-width: 1px !important;
    border-radius: var(--menu-corner-rounding) !important;
    box-shadow: 0px 8px 10px -2px #0002 !important;
    border-color: #8883 !important;
    padding: 4px !important;
}

.panel-arrowcontainer .panel-arrowcontent, .menupopup-arrowscrollbox, hbox[flex="1"][part="innerbox"] {
    border-radius: var(--menu-corner-rounding) !important;
}

.in-bookmarks-menu {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

menu,
menuitem, 
menucaption {
    -moz-appearance: none !important;
    height: var(--menu-item-height) !important;
}

menu,
menuitem, 
menucaption {
    padding-inline: 8px !important;
    border-radius: 3px !important;
}

menupopup > menuitem, menupopup > menu {
  padding-block: 3px !important;
}

menu:not(.subviewbutton) > .menu-right  {
    margin-top: 0px !important;
    margin-right: 0px !important;
    width: 0px !important;
}

menu:not(.subviewbutton) > .menu-right image {
    margin-right: -5px !important;
    margin-top: -2px !important;
    border: 0px solid var(--toolbar-color) !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}

panelview toolbarbutton:not(#fxa-manage-account-button) {
    height: var(--menu-item-height) !important;
}

#BMB_bookmarksPopup .menu-right {
    height: 20px !important;
}

#sidebar-switcher-bookmarks, #customization-uidensity-menuitem-compact {
    margin-top: 5px !important;
}

#customization-lwtheme-menu-header {
    margin-top: 0px !important;
}

#new-tab-button:hover {
    background-color: transparent !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) !important;
}